extends ../layout/index

block contenido 
  
  div(class="")          
    h2(class="text-center text-2xl font-extrabold my-5")= pagina 

    

  h2(class="text-black text-center font-bold uppercase  ") Quien Eres?

  div(class=" m-10  items-center h-70 bg-white opacity-70 p-4 max-w-full rounded-lg flex flex-row justify-center gap-10 ")   
  
    a(href="/auth/login-usuario" class=" rounder py-2 px-10 bg-red-50 hover:bg-cyan-400 rounded-lg border-solid border-2 border-cyan-400 text-sm font-bold text-center text-black uppercase my-5 block w-full sm:w-auto") Usuarios

  
    a(href="/auth/login-medico" class=" rounder py-2 px-10 bg-red-50 hover:bg-cyan-400 rounded-lg border-solid border-2 border-cyan-400 text-sm font-bold text-center text-black uppercase my-5 block w-full sm:w-auto") Medicos


    a(href="/auth/login-admin" class="  rounder py-2 px-10 bg-red-50 hover:bg-cyan-400 rounded-lg border-solid border-2 border-cyan-400 text-sm font-bold text-center text-black uppercase my-5 block w-full sm:w-auto") Admin
