extends ../layout/index

block contenido 
  
  div(class="")          
    h2(class="text-center text-2xl font-extrabold")= pagina 

  
  div(class="absolute  bg-cyan-50 opacity-70 p-4 max-w-full  h-screen mt-0 left-0")
    h2(class="text-black text-center font-bold uppercase") Menu
    nav(class="translate-y-1/4")       
      a(href="/auth/registro-usuario" class="rounder py-2 px-10 bg-red-50 hover:bg-cyan-400 rounded-lg border-solid border-2 border-cyan-400 text-sm font-bold text-center text-black uppercase my-5 block w-full sm:w-auto") Agenda

  
      a(href="#" class="rounder py-2 px-10 bg-red-50 hover:bg-cyan-400 rounded-lg border-solid border-2 border-cyan-400 text-sm font-bold text-center text-black uppercase my-5 block w-full sm:w-auto") Historia Clínica


      a(href="/auth/registro-medico" class="rounder py-2 px-10 bg-red-50 hover:bg-cyan-400 rounded-lg border-solid border-2 border-cyan-400 text-sm font-bold text-center text-black uppercase my-5 block w-full sm:w-auto") Formulas Medicas

  
      a(href="#" class="rounder py-2 px-10 bg-red-50 hover:bg-cyan-400 rounded-lg border-solid border-2 border-cyan-400 text-sm font-bold text-center text-black uppercase my-5 block w-full sm:w-auto") Incapacidades


      
