div(class="w-full bg-white opacity-70 text-center p-10 mt-auto fixed bottom-0 h-20") 
    footer(class="")
        p(class="")
            strong(class="") &copy:2023 Slogan Soluciones Informáticas Duberney Obando Cano