header(class="bg-white opacity-70 p-10  shadow-lg shadow-pink-400/50")
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-black.font-extrabold.text-center Consultorio
            span.font-normal Medico  

        