doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Consultorio Medico | #{pagina}
    link(rel="stylesheet", href=" /css/app.css")

    body.min-h-screen.bg-gray-50(class="bg-[url('https://cdn.pixabay.com/photo/2015/07/10/20/54/stethoscope-840125_1280.jpg')] bg-no-repeat bg-cover w-full")

        if barra
            include header-menu-usuarios
        
    
    
            
        main(class="")
        
            block contenido