doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Consultorio Medico | #{pagina}
    link(rel="stylesheet", href=" /css/app.css")       
    body.min-h-screen(class="bg-[url('https://marketplace.canva.com/YMuxs/MAEJnwYMuxs/1/s2/canva-happy-family-on-a-visit-to-the-doctor-in-the-office-of-a-doctor.-MAEJnwYMuxs.jpg')] bg-no-repeat bg-cover w-full m-0 p-0")

        if barra
            include header-menu-usuarios
            
        
    
    
            
        main(class="")
        
            block contenido