extends ../layout/index

block contenido 


  div(class="flex flex-grow px-3 pt-5")
      aside(class="flex-initial w-30 bg-cyan-50 opacity-70 p-4 max-w-full rounded-lg") 
          h2(class="text-center font-bold text-2xl") MENU
           
          a(href="/auth/registro-usuario" class="rounder py-2 px-10 bg-red-50 hover:bg-cyan-400 rounded-lg border-solid border-2 border-cyan-400 text-sm font-bold text-center text-black uppercase my-5 block w-full sm:w-auto") Registro Usuarios

  
          a(href="/menu-admin/listado-usuarios" class="rounder py-2 px-10 bg-red-50 hover:bg-cyan-400 rounded-lg border-solid border-2 border-cyan-400 text-sm font-bold text-center text-black uppercase my-5 block w-full sm:w-auto") Listado de Usuarios


          a(href="/auth/registro-medico" class="rounder py-2 px-10 bg-red-50 hover:bg-cyan-400 rounded-lg border-solid border-2 border-cyan-400 text-sm font-bold text-center text-black uppercase my-5 block w-full sm:w-auto") Registro Medicos

  
          a(href="/menu-admin/listado-medicos" class="rounder py-2 px-10 bg-red-50 hover:bg-cyan-400 rounded-lg border-solid border-2 border-cyan-400 text-sm font-bold text-center text-black uppercase my-5 block w-full sm:w-auto") Listado Medicos


          a(href="#" class="rounder py-2 px-10 bg-red-50 hover:bg-cyan-400 rounded-lg border-solid border-2 border-cyan-400 text-sm font-bold text-center text-black uppercase my-5 block w-full sm:w-auto") Listado Pacientes

  
          a(href="#" class="rounder py-2 px-10 bg-red-50 hover:bg-cyan-400 rounded-lg border-solid border-2 border-cyan-400 text-sm font-bold text-center text-black uppercase my-5 block w-full sm:w-auto") Citas Pacientes

          a(href="/auth/registro-admin" class="rounder py-2 px-10 bg-red-50 hover:bg-cyan-400 rounded-lg border-solid border-2 border-cyan-400 text-sm font-bold text-center text-black uppercase my-5 block w-full sm:w-auto") Registro Admins

      section(class=" flex-1 w-70  text-center font-bold")
          h2(class="text-center font-bold text-2xl")= pagina

          //- pre= JSON.stringify(usuarios, undefined, 2)

          
          

  
  