extends ../layout/index-menu-admin

block contenido

  div.py-2           
    h2.text-center.text-2xl.font-extrabold= pagina

    if errores
      div(class="max-w-md mx-auto my-10")
        each error in errores
         p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg 

    div.mt-5.mx-auto.max-w-screen-lg
      .bg-white.opacity-90.py-8.px-4.shadow.rounded-lg(class=" shadow-lg shadow-pink-400/50")
         form.space-y-4(class="grid grid-cols-2 gap-2 " method="POST"  noValidate)
            input(type="hidden" name="_csrf" value= csrfToken)

            div
               label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="nombre") Nombre
               input#nombre.w-full.px-3.py-1.border.border-gray-300.rounder-md.placeholder-gray-400(placeholder=" Nombre" type="text" name="nombre" value= medico ? medico.nombre: '')         
                        
            div
               label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="apellidos") Apellidos
               input#apellidos.w-full.px-3.py-1.border.border-gray-300.rounder-md.placeholder-gray-400(placeholder="Apellidos" type="text" name="apellidos" value= medico ? medico.apellidos: '')

            div
               label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="documento") Documento
               input#documento.w-full.px-3.py-1.border.border-gray-300.rounder-md.placeholder-gray-400(placeholder=" Documento" type="text" name="documento" value= medico ? medico.documento: '')         
                        
            div
               label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Email de Registro
               input#email.w-full.px-3.py-1.border.border-gray-300.rounder-md.placeholder-gray-400(placeholder="Email" type="email" name="email" value= medico ? medico.email: '')
            
            div
               label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="especialidad") Especialidad
               input#especialidad.w-full.px-3.py-1.border.border-gray-300.rounder-md.placeholder-gray-400(placeholder="Especialidad" type="text" name="especialidad" value= medico ? medico.especialidad: '')
            
            div
               label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="telefono") Teléfono
               input#telefono.w-full.px-3.py-1.border.border-gray-300.rounder-md.placeholder-gray-400(placeholder="telefono" type="number" name="telefono" value= medico ? medico.telefono: '')

                        
            div.flex.items-center.justify-between
               a.text-gray-500.text-xs(href="/auth/login-medico") Ya tienes cuenta? Inicia Sesión
               a.text-gray-500.text-xs(href="/auth/olvide-password-medico") Olvide mis Password

            input(class="w-full bg-red-50 hover:bg-cyan-400 rounded-lg border-solid border-2 border-cyan-400 text-black font-bold py-3 cursor-pointer" type="submit" value="Actualizar")